<h2><%= rubygem.name %></h2>
<h3>79</h3>

<p>by <strong>Francisco</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et dictum tortor. Cras lobortis eleifend bibendum. Etiam scelerisque rutrum dui, ut viverra felis fringilla nec.</p>

<ul class="github">
	<li><h4><a href="#">Github</a></h4></li>
	<li>Last Commit <strong>Yesterday</strong></li>
	<li>Issues <strong>40</strong></li>
	<li>Pull reps <strong>40</strong></li>
	<li>Starers <strong>10</strong></li>
	<li>watchers <strong>50</strong></li>
</ul>

<ul class="charts">
	<li class="activity" style="width:88%"><strong>88</strong> activity</li>
	<li class="social" style="width:58%"><strong>58</strong> social</li>
	<li class="etiquette" style="width:44%"><strong>44</strong> etiquette</li>
</ul>