<p id="notice"><%= notice %></p>

<p>
  <strong>Rubygem x:</strong>
  <%= @battle.rubygem_x.name %>
</p>

<p>
  <strong>Rubygem y:</strong>
  <%= @battle.rubygem_y.name %>
</p>

<%= link_to 'Back', root_path %>