<%= render 'searches/form' %>
<br /><br />

<div class="search-results">
<% unless @search.results.empty? %>
  <% @search.results.each do |i| %>
    <%= render 'searches/show/item', item: i %>
  <% end %>
<% else %>
  <h3 class="no-results">NO SEARCH RESULTS</h3>
<% end %>
</div>

<div id="search-overlay" class="overlay">
  <%= image_tag 'spinner1.gif' %>
</div>