/* _settings.css.scss */

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_battle { display: none; }

a:link, a:visited, a:hover, a:active, a:focus { color: $primary-color; }
a { text-decoration: none; }
a.active { font-weight: bold; }